<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    {{>header page="index"}}
    <div class="overflow clearfix">
    </div>
    {{>footer}}
    {{>script page="index"}}
</body>

</html>