<!-- Header -->
<header class="header{{#eq page compare="invert"}} invert{{/eq}}" id="js-nav">
    <div class="header__wrapper container">
        <div class="header__logo">
            <a href="index.html" class="header__img"></a>
        </div>
        <nav class="nav-collapse">
            <ul>
                <li class="menu-item"><a href="#">Menu 1</a></li>
                <li class="menu-item {{#eq page compare="menu-2"}}active{{/eq}}"><a href="#">Menu 2</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Header -->
